<a href="https://colab.research.google.com/github/tingweiwu17/colab_machine_learing/blob/main/Project2_Mental_Health_in_Tech_Survey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Datasets Source
This dataset was from OSMH/OSMI Mental Health in Tech Survey 2014:
https://osmihelp.org/research

## Dataset Information
This dataset is from a 2014 survey that measures attitudes towards mental health and frequency of mental health disorders in the tech workplace. This training dataset contains 1007 records, including 510 persons who sought treatment for a mental health condition and 497 persons without seeking treatment. To study this dataset, it may help to assist companies in making supportive environments for those impacted by mental health disorders. The "treatment" field is a class label used to divide into groups (sought treatment or not).

## Attribute Information:
This dataset contains the following data:

1. Age
2. Gender
3. self_employed: Are you self-employed?
4. family_history: Do you have a family history of mental illness?
5. work_interfere: If you have a mental health condition, do you feel that it interferes with your work?
6. no_employees: How many employees does your company or organization have?
remote_work: Do you work remotely (outside of an office) at least 50% of the time?
7. tech_company: Is your employer primarily a tech company/organization?
8. benefits: Does your employer provide mental health benefits?
9. care_options: Do you know the options for mental health care your employer provides?
10. wellness_program: Has your employer ever discussed mental health as part of an employee wellness program?
11. seek_help: Does your employer provide resources to learn more about mental health issues and how to seek help?
12. anonymity: Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources?
13. leave: How easy is it for you to take medical leave for a mental health condition?
14. mentalhealthconsequence: Do you think that discussing a mental health issue with your employer would have negative consequences?
15. physhealthconsequence: Do you think that discussing a physical health issue with your employer would have negative consequences?
16. coworkers: Would you be willing to discuss a mental health issue with your coworkers?
17. supervisor: Would you be willing to discuss a mental health issue with your direct supervisor(s)?
18. mentalhealthinterview: Would you bring up a mental health issue with a potential employer in an interview?
19. physhealthinterview: Would you bring up a physical health issue with a potential employer in an interview?
20. mentalvsphysical: Do you feel that your employer takes mental health as seriously as physical health?
21. obs_consequence: Have you heard of or observed negative consequences for coworkers with mental health conditions in your workplace?
22. treatment: Have you sought treatment for a mental health condition?

### Download the training set

In [ ]:
# Download from Google Drive
!gdown --id 1HZnYBOe8Z04UzK6T0BXeTH5oaU_ABjIz

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1HZnYBOe8Z04UzK6T0BXeTH5oaU_ABjIz
To: /content/project2.zip
100% 19.2k/19.2k [00:00<00:00, 13.7MB/s]

In [ ]:
!unzip project2.zip
# if seeing the message: "replace project1_test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:"
# you may enter "A"

Archive:  project2.zip
replace project2_test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: project2_test.csv
  inflating: project2_train.csv

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('project2_train.csv')
df.columns

Index(['Age', 'Gender', 'self_employed', 'family_history', 'work_interfere',
       'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'treatment'],
      dtype='object')

In [ ]:
df.head()

,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,treatment
0,37,Female,NaN,No,Often,6-25,No,Yes,Yes,Not sure,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,Yes
1,44,M,NaN,No,Rarely,More than 1000,No,No,Don't know,No,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,No
2,32,Male,NaN,No,Rarely,6-25,No,Yes,No,No,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,No
3,31,Male,NaN,Yes,Often,26-100,No,Yes,No,Yes,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,Yes
4,31,Male,NaN,No,Never,100-500,Yes,Yes,Yes,No,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,No

In [ ]:
df.columns

Index(['Age', 'Gender', 'self_employed', 'family_history', 'work_interfere',
       'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'treatment'],
      dtype='object')

In [ ]:
for col in df.columns:
  print('Unique values in {} :'.format(col), len(df[col].unique()))

Unique values in Age : 52
Unique values in Gender : 44
Unique values in self_employed : 3
Unique values in family_history : 2
Unique values in work_interfere : 5
Unique values in no_employees : 6
Unique values in remote_work : 2
Unique values in tech_company : 2
Unique values in benefits : 3
Unique values in care_options : 3
Unique values in wellness_program : 3
Unique values in seek_help : 3
Unique values in anonymity : 3
Unique values in leave : 5
Unique values in mental_health_consequence : 3
Unique values in phys_health_consequence : 3
Unique values in coworkers : 3
Unique values in supervisor : 3
Unique values in mental_health_interview : 3
Unique values in phys_health_interview : 3
Unique values in mental_vs_physical : 3
Unique values in obs_consequence : 2
Unique values in treatment : 2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        1007 non-null   int64
 1   Gender                     1007 non-null   object
 2   self_employed              994 non-null    object
 3   family_history             1007 non-null   object
 4   work_interfere             800 non-null    object
 5   no_employees               1007 non-null   object
 6   remote_work                1007 non-null   object
 7   tech_company               1007 non-null   object
 8   benefits                   1007 non-null   object
 9   care_options               1007 non-null   object
 10  wellness_program           1007 non-null   object
 11  seek_help                  1007 non-null   object
 12  anonymity                  1007 non-null   object
 13  leave                      1007 non-null   object
 14  mental_health_consequence  1007 non-null   object
 15  phys_health_consequence    1007 non-null   object
 16  coworkers                  1007 non-null   object
 17  supervisor                 1007 non-null   object
 18  mental_health_interview    1007 non-null   object
 19  phys_health_interview      1007 non-null   object
 20  mental_vs_physical         1007 non-null   object
 21  obs_consequence            1007 non-null   object
 22  treatment                  1007 non-null   object
dtypes: int64(1), object(22)
memory usage: 181.1+ KB

In [ ]:
df.isnull().sum().sort_values(ascending=False)

work_interfere               207
self_employed                 13
Age                            0
leave                          0
obs_consequence                0
mental_vs_physical             0
phys_health_interview          0
mental_health_interview        0
supervisor                     0
coworkers                      0
phys_health_consequence        0
mental_health_consequence      0
seek_help                      0
anonymity                      0
Gender                         0
wellness_program               0
care_options                   0
benefits                       0
tech_company                   0
remote_work                    0
no_employees                   0
family_history                 0
treatment                      0
dtype: int64

In [ ]:
df['work_interfere'].unique()

array(['Often', 'Rarely', 'Never', 'Sometimes', nan], dtype=object)

In [ ]:
df.self_employed.unique()

array([nan, 'Yes', 'No'], dtype=object)

In [ ]:
other  = ['A little about you', 'p', 'Nah', 'Enby', 'Trans-female','something kinda male?','queer/she/they','non-binary','All','fluid', 'Genderqueer','Androgyne', 'Agender','Guy (-ish) ^_^', 'male leaning androgynous','Trans woman','Neuter', 'Female (trans)','queer','ostensibly male unsure what that really means','trans']
male   = ['male', 'Male','M', 'm', 'Male-ish', 'maile','Cis Male','Mal', 'Male (CIS)','Make','Male ', 'Man', 'msle','cis male', 'Cis Man','Malr','Mail']
female = ['Female', 'female','Cis Female', 'F','f','Femake', 'woman','Female ','cis-female/femme','Female (cis)','femail','Woman','female']

In [ ]:
df.Age.min(), df.Age.max()

(-1726, 99999999999)

In [ ]:
df.treatment = df.treatment.astype('category')
df.treatment = df.treatment.cat.codes
df.treatment.value_counts()

1    510
0    497
Name: treatment, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        1007 non-null   int64
 1   Gender                     1007 non-null   object
 2   self_employed              994 non-null    object
 3   family_history             1007 non-null   object
 4   work_interfere             800 non-null    object
 5   no_employees               1007 non-null   object
 6   remote_work                1007 non-null   object
 7   tech_company               1007 non-null   object
 8   benefits                   1007 non-null   object
 9   care_options               1007 non-null   object
 10  wellness_program           1007 non-null   object
 11  seek_help                  1007 non-null   object
 12  anonymity                  1007 non-null   object
 13  leave                      1007 non-null   object
 14  mental_health_consequence  1007 non-null   object
 15  phys_health_consequence    1007 non-null   object
 16  coworkers                  1007 non-null   object
 17  supervisor                 1007 non-null   object
 18  mental_health_interview    1007 non-null   object
 19  phys_health_interview      1007 non-null   object
 20  mental_vs_physical         1007 non-null   object
 21  obs_consequence            1007 non-null   object
 22  treatment                  1007 non-null   int8
dtypes: int64(1), int8(1), object(21)
memory usage: 174.2+ KB

In [ ]:
df['Age'][df['Age']>=75]=75
df['Age'][df['Age']<=18]=18

In [ ]:
df['Gender'][df["Gender"].isin(['male', 'Male','M', 'm', 'Male-ish', 'maile','Cis Male','Mal', 'Male (CIS)','Make','Male ', 'Man', 'msle','cis male', 'Cis Man','Malr','Mail'])]='male'
df['Gender'][df["Gender"].isin(['Female', 'female','Cis Female', 'F','f','Femake', 'woman','Female ','cis-female/femme','Female (cis)','femail','Woman','female'])]='female'
df['Gender'][df["Gender"].isin(['A little about you', 'p', 'Nah', 'Enby', 'Trans-female','something kinda male?','queer/she/they','non-binary','All','fluid', 'Genderqueer','Androgyne', 'Agender','Guy (-ish) ^_^', 'male leaning androgynous','Trans woman','Neuter', 'Female (trans)','queer','ostensibly male unsure what that really means','trans'])]='other'

In [ ]:
df['Gender'][df['Gender']=='male']=1
df['Gender'][df['Gender']=='female']=0
df['Gender'][df['Gender']=='other']=2

In [ ]:
df['self_employed'][df['self_employed'].isin(['Yes'])]=1
df['self_employed'][df['self_employed'].isin(['No'])]=0
df['family_history'][df['family_history'].isin(['Yes'])]=1
df['family_history'][df['family_history'].isin(['No'])]=0
df['remote_work'][df['remote_work'].isin(['Yes'])]=1
df['remote_work'][df['remote_work'].isin(['No'])]=0
df['tech_company'][df['tech_company'].isin(['Yes'])]=1
df['tech_company'][df['tech_company'].isin(['No'])]=0
df['obs_consequence'][df['obs_consequence'].isin(['Yes'])]=1
df['obs_consequence'][df['obs_consequence'].isin(['No'])]=0
df['mental_vs_physical'][df['mental_vs_physical'].isin(['Yes'])]=1
df['mental_vs_physical'][df['mental_vs_physical'].isin(["Don't know"])]=0.5
df['mental_vs_physical'][df['mental_vs_physical'].isin(['No'])]=0
df['benefits'][df['benefits'].isin(['Yes'])]=1
df['benefits'][df['benefits'].isin(["No","Don't know"])]=0
df['mental_health_consequence'][df['mental_health_consequence'].isin(['Yes'])]=1
df['mental_health_consequence'][df['mental_health_consequence'].isin(['Maybe'])]=0.5
df['mental_health_consequence'][df['mental_health_consequence'].isin(['No'])]=0
df['phys_health_consequence'][df['phys_health_consequence'].isin(['Yes'])]=1
df['phys_health_consequence'][df['phys_health_consequence'].isin(['Maybe'])]=0.5
df['phys_health_consequence'][df['phys_health_consequence'].isin(['No'])]=0
df['care_options'][df['care_options'].isin(['Yes'])]=1
df['care_options'][df['care_options'].isin(['Not sure'])]=0.5
df['care_options'][df['care_options'].isin(['No'])]=0
df['phys_health_interview'][df['phys_health_interview'].isin(['Yes'])]=1
df['phys_health_interview'][df['phys_health_interview'].isin(['Maybe'])]=0.5
df['phys_health_interview'][df['phys_health_interview'].isin(['No'])]=0
df['mental_health_interview'][df['mental_health_interview'].isin(['Yes'])]=1
df['mental_health_interview'][df['mental_health_interview'].isin(['Maybe'])]=0.5
df['mental_health_interview'][df['mental_health_interview'].isin(['No'])]=0
df['coworkers'][df['coworkers'].isin(['Yes'])]=1
df['coworkers'][df['coworkers'].isin(['Some of them'])]=0.5
df['coworkers'][df['coworkers'].isin(['No'])]=0
df['supervisor'][df['supervisor'].isin(['Yes'])]=1
df['supervisor'][df['supervisor'].isin(['Some of them'])]=0.5
df['supervisor'][df['supervisor'].isin(['No'])]=0

df['wellness_program'][df['wellness_program'].isin(['Yes'])]=1
df['wellness_program'][df['wellness_program'].isin(["Don't know"])]=0.5
df['wellness_program'][df['wellness_program'].isin(['No'])]=0
df['seek_help'][df['seek_help'].isin(['Yes'])]=1
df['seek_help'][df['seek_help'].isin(["Don't know"])]=0.5
df['seek_help'][df['seek_help'].isin(['No'])]=0
df['anonymity'][df['anonymity'].isin(['Yes'])]=1
df['anonymity'][df['anonymity'].isin(["Don't know"])]=0.5
df['anonymity'][df['anonymity'].isin(['No'])]=0

In [ ]:
df['work_interfere'][df['work_interfere'].isin(['Never'])]=0
df['work_interfere'][df['work_interfere'].isin(['Rarely'])]=0.3
df['work_interfere'][df['work_interfere'].isin(['Sometimes'])]=0.5
df['work_interfere'][df['work_interfere'].isin(['Often'])]=0.8
df['no_employees'][df['no_employees'].isin(['1-5'])]=0
df['no_employees'][df['no_employees'].isin(['6-25'])]=0.2
df['no_employees'][df['no_employees'].isin(['26-100'])]=0.4
df['no_employees'][df['no_employees'].isin(['100-500'])]=0.6
df['no_employees'][df['no_employees'].isin(['500-1000'])]=0.8
df['no_employees'][df['no_employees'].isin(['More than 1000'])]=1
df['leave'][df['leave'].isin(['Somewhat easy'])]=0.75
df['leave'][df['leave'].isin(["Don't know"])]=0.5
df['leave'][df['leave'].isin(['Somewhat difficult'])]=0.25
df['leave'][df['leave'].isin(["Very easy"])]=1
df['leave'][df['leave'].isin(['Very difficult'])]=0
df

,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,treatment
0,37,0,NaN,0,0.8,0.2,0,1,1,0.5,...,0.75,0,0,0.5,1,0,0.5,1,0,1
1,44,1,NaN,0,0.3,1,0,0,0,0,...,0.5,0.5,0,0,0,0,0,0.5,0,0
2,32,1,NaN,0,0.3,0.2,0,1,0,0,...,0.25,0,0,1,1,1,1,0,0,0
3,31,1,NaN,1,0.8,0.4,0,1,0,1,...,0.25,1,1,0.5,0,0.5,0.5,0,1,1
4,31,1,NaN,0,0,0.6,1,1,1,0,...,0.5,0,0,0.5,1,1,1,0.5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,36,1,0,1,0.3,1,0,0,0,0,...,0.75,0.5,0.5,0.5,0.5,0,0,0.5,0,0
1003,26,1,0,0,NaN,0.4,0,1,0,0,...,0.75,0,0,0.5,0.5,0,0,0.5,0,1
1004,32,1,0,1,0.8,0.4,1,1,1,1,...,0.25,0,0,0.5,1,0,0,1,0,1
1005,34,1,0,1,0.5,1,0,1,1,1,...,0.25,1,1,0,0,0,0,0,0,1
1006,46,0,0,0,NaN,0.6,1,1,0,1,...,0.5,1,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(strategy='mean')

imp.fit(df)
df = imp.transform(df)
df = pd.DataFrame(df)
df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,37.0,0.0,0.130785,0.0,0.8000,0.2,0.0,1.0,1.0,0.5,...,0.75,0.0,0.0,0.5,1.0,0.0,0.5,1.0,0.0,1.0
1,44.0,1.0,0.130785,0.0,0.3000,1.0,0.0,0.0,0.0,0.0,...,0.50,0.5,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0
2,32.0,1.0,0.130785,0.0,0.3000,0.2,0.0,1.0,0.0,0.0,...,0.25,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
3,31.0,1.0,0.130785,1.0,0.8000,0.4,0.0,1.0,0.0,1.0,...,0.25,1.0,1.0,0.5,0.0,0.5,0.5,0.0,1.0,1.0
4,31.0,1.0,0.130785,0.0,0.0000,0.6,1.0,1.0,1.0,0.0,...,0.50,0.0,0.0,0.5,1.0,1.0,1.0,0.5,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,36.0,1.0,0.000000,1.0,0.3000,1.0,0.0,0.0,0.0,0.0,...,0.75,0.5,0.5,0.5,0.5,0.0,0.0,0.5,0.0,0.0
1003,26.0,1.0,0.000000,0.0,0.4005,0.4,0.0,1.0,0.0,0.0,...,0.75,0.0,0.0,0.5,0.5,0.0,0.0,0.5,0.0,1.0
1004,32.0,1.0,0.000000,1.0,0.8000,0.4,1.0,1.0,1.0,1.0,...,0.25,0.0,0.0,0.5,1.0,0.0,0.0,1.0,0.0,1.0
1005,34.0,1.0,0.000000,1.0,0.5000,1.0,0.0,1.0,1.0,1.0,...,0.25,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1006,46.0,0.0,0.000000,0.0,0.4005,0.6,1.0,1.0,0.0,1.0,...,0.50,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.columns=['Age', 'Gender', 'self_employed', 'family_history', 'work_interfere',
       'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'treatment']

In [ ]:
from sklearn.model_selection import train_test_split
# Train and Test set
X = df.drop('treatment', axis=1)
y = df.treatment
# Splitting
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.2, random_state = 409570339)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
lr = LinearRegression()
# 學習
lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
df1 = pd.read_csv('project2_test.csv')

In [ ]:

df1['Age'][df1['Age']>=75]=75
df1['Age'][df1['Age']<=18]=18
df1['Gender'][df1["Gender"].isin(['male', 'Male','M', 'm', 'Male-ish', 'maile','Cis Male','Mal', 'Male (CIS)','Make','Male ', 'Man', 'msle','cis male', 'Cis Man','Malr','Mail'])]='male'
df1['Gender'][df1["Gender"].isin(['Female', 'female','Cis Female', 'F','f','Femake', 'woman','Female ','cis-female/femme','Female (cis)','femail','Woman','female'])]='female'
df1['Gender'][df1["Gender"].isin(['A little about you', 'p', 'Nah', 'Enby', 'Trans-female','something kinda male?','queer/she/they','non-binary','All','fluid', 'Genderqueer','Androgyne', 'Agender','Guy (-ish) ^_^', 'male leaning androgynous','Trans woman','Neuter', 'Female (trans)','queer','ostensibly male unsure what that really means','trans'])]='other'
df1['Gender'][df1['Gender']=='male']=1
df1['Gender'][df1['Gender']=='female']=0
df1['Gender'][df1['Gender']=='other']=2
df1['self_employed'][df1['self_employed'].isin(['Yes'])]=1
df1['self_employed'][df1['self_employed'].isin(['No'])]=0
df1['family_history'][df1['family_history'].isin(['Yes'])]=1
df1['family_history'][df1['family_history'].isin(['No'])]=0
df1['remote_work'][df1['remote_work'].isin(['Yes'])]=1
df1['remote_work'][df1['remote_work'].isin(['No'])]=0
df1['tech_company'][df1['tech_company'].isin(['Yes'])]=1
df1['tech_company'][df1['tech_company'].isin(['No'])]=0
df1['obs_consequence'][df1['obs_consequence'].isin(['Yes'])]=1
df1['obs_consequence'][df1['obs_consequence'].isin(['No'])]=0
df1['mental_vs_physical'][df1['mental_vs_physical'].isin(['Yes'])]=1
df1['mental_vs_physical'][df1['mental_vs_physical'].isin(["Don't know"])]=0.5
df1['mental_vs_physical'][df1['mental_vs_physical'].isin(['No'])]=0
df1['benefits'][df1['benefits'].isin(['Yes'])]=1
df1['benefits'][df1['benefits'].isin(["No","Don't know"])]=0
df1['mental_health_consequence'][df1['mental_health_consequence'].isin(['Yes'])]=1
df1['mental_health_consequence'][df1['mental_health_consequence'].isin(['Maybe'])]=0.5
df1['mental_health_consequence'][df1['mental_health_consequence'].isin(['No'])]=0
df1['phys_health_consequence'][df1['phys_health_consequence'].isin(['Yes'])]=1
df1['phys_health_consequence'][df1['phys_health_consequence'].isin(['Maybe'])]=0.5
df1['phys_health_consequence'][df1['phys_health_consequence'].isin(['No'])]=0
df1['care_options'][df1['care_options'].isin(['Yes'])]=1
df1['care_options'][df1['care_options'].isin(['Not sure'])]=0.5
df1['care_options'][df1['care_options'].isin(['No'])]=0
df1['phys_health_interview'][df1['phys_health_interview'].isin(['Yes'])]=1
df1['phys_health_interview'][df1['phys_health_interview'].isin(['Maybe'])]=0.5
df1['phys_health_interview'][df1['phys_health_interview'].isin(['No'])]=0
df1['mental_health_interview'][df1['mental_health_interview'].isin(['Yes'])]=1
df1['mental_health_interview'][df1['mental_health_interview'].isin(['Maybe'])]=0.5
df1['mental_health_interview'][df1['mental_health_interview'].isin(['No'])]=0
df1['coworkers'][df1['coworkers'].isin(['Yes'])]=1
df1['coworkers'][df1['coworkers'].isin(['Some of them'])]=0.5
df1['coworkers'][df1['coworkers'].isin(['No'])]=0
df1['supervisor'][df1['supervisor'].isin(['Yes'])]=1
df1['supervisor'][df1['supervisor'].isin(['Some of them'])]=0.5
df1['supervisor'][df1['supervisor'].isin(['No'])]=0
df1['leave'][df1['leave'].isin(['Somewhat easy'])]=0.75
df1['leave'][df1['leave'].isin(["Don't know"])]=0.5
df1['leave'][df1['leave'].isin(['Somewhat difficult'])]=0.25
df1['leave'][df1['leave'].isin(["Very easy"])]=1
df1['leave'][df1['leave'].isin(['Very difficult'])]=0
df1['wellness_program'][df1['wellness_program'].isin(['Yes'])]=1
df1['wellness_program'][df1['wellness_program'].isin(["Don't know"])]=0.5
df1['wellness_program'][df1['wellness_program'].isin(['No'])]=0
df1['seek_help'][df1['seek_help'].isin(['Yes'])]=1
df1['seek_help'][df1['seek_help'].isin(["Don't know"])]=0.5
df1['seek_help'][df1['seek_help'].isin(['No'])]=0
df1['anonymity'][df1['anonymity'].isin(['Yes'])]=1
df1['anonymity'][df1['anonymity'].isin(["Don't know"])]=0.5
df1['anonymity'][df1['anonymity'].isin(['No'])]=0
df1['work_interfere'][df1['work_interfere'].isin(['Never'])]=0
df1['work_interfere'][df1['work_interfere'].isin(['Rarely'])]=0.3
df1['work_interfere'][df1['work_interfere'].isin(['Sometimes'])]=0.5
df1['work_interfere'][df1['work_interfere'].isin(['Often'])]=0.8
df1['no_employees'][df1['no_employees'].isin(['1-5'])]=0
df1['no_employees'][df1['no_employees'].isin(['6-25'])]=0.2
df1['no_employees'][df1['no_employees'].isin(['26-100'])]=0.4
df1['no_employees'][df1['no_employees'].isin(['100-500'])]=0.6
df1['no_employees'][df1['no_employees'].isin(['500-1000'])]=0.8
df1['no_employees'][df1['no_employees'].isin(['More than 1000'])]=1
df1

,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,24,1,0,1,0.3,0.2,1,1,0,0,...,0.5,1,0,0,1,1,0.5,1,1,0
1,35,1,0,0,NaN,0.4,0,0,0,0.5,...,0.5,0.5,0,0,1,1,0,0,0,0
2,32,0,0,0,0.5,0.6,0,1,0,0,...,0.5,0,1,1,0.5,0,0,0,0,1
3,29,1,0,0,0.3,1,0,1,1,0,...,0.5,1,1,0.5,0.5,0,0,0,0.5,0
4,39,1,0,0,NaN,1,1,1,0,0.5,...,0.5,0.5,0,0,0.5,1,0,0,0.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,28,1,0,1,0.8,0.4,0,1,0,0,...,0.5,0.75,0.5,0.5,1,1,0,0,0,0
248,41,1,0,1,0.8,1,0,1,1,0,...,0.5,0.5,0.5,0.5,0.5,0.5,0,0,0.5,1
249,33,0,0,0,NaN,0.2,0,1,0,0,...,0.5,0.25,0.5,0,0.5,0.5,0,0,0.5,0
250,45,1,0,0,0,1,1,1,0,0.5,...,0.5,0.5,1,0,1,0.5,0,0,0,1
251,30,1,1,0,0.5,0,1,1,0,0,...,0.5,0.25,0,0,0.5,0.5,0,0.5,0,0

In [ ]:
imp.fit(df1)
df1 = imp.transform(df1)
df1 = pd.DataFrame(df1)
df1

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,24.0,1.0,0.0,1.0,0.300000,0.2,1.0,1.0,0.0,0.0,...,0.5,1.00,0.0,0.0,1.0,1.0,0.5,1.0,1.0,0.0
1,35.0,1.0,0.0,0.0,0.406154,0.4,0.0,0.0,0.0,0.5,...,0.5,0.50,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2,32.0,0.0,0.0,0.0,0.500000,0.6,0.0,1.0,0.0,0.0,...,0.5,0.00,1.0,1.0,0.5,0.0,0.0,0.0,0.0,1.0
3,29.0,1.0,0.0,0.0,0.300000,1.0,0.0,1.0,1.0,0.0,...,0.5,1.00,1.0,0.5,0.5,0.0,0.0,0.0,0.5,0.0
4,39.0,1.0,0.0,0.0,0.406154,1.0,1.0,1.0,0.0,0.5,...,0.5,0.50,0.0,0.0,0.5,1.0,0.0,0.0,0.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,28.0,1.0,0.0,1.0,0.800000,0.4,0.0,1.0,0.0,0.0,...,0.5,0.75,0.5,0.5,1.0,1.0,0.0,0.0,0.0,0.0
248,41.0,1.0,0.0,1.0,0.800000,1.0,0.0,1.0,1.0,0.0,...,0.5,0.50,0.5,0.5,0.5,0.5,0.0,0.0,0.5,1.0
249,33.0,0.0,0.0,0.0,0.406154,0.2,0.0,1.0,0.0,0.0,...,0.5,0.25,0.5,0.0,0.5,0.5,0.0,0.0,0.5,0.0
250,45.0,1.0,0.0,0.0,0.000000,1.0,1.0,1.0,0.0,0.5,...,0.5,0.50,1.0,0.0,1.0,0.5,0.0,0.0,0.0,1.0
251,30.0,1.0,1.0,0.0,0.500000,0.0,1.0,1.0,0.0,0.0,...,0.5,0.25,0.0,0.0,0.5,0.5,0.0,0.5,0.0,0.0

In [ ]:
df1.columns=['Age', 'Gender', 'self_employed', 'family_history', 'work_interfere',
       'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence']

In [ ]:
y_pred = lr.predict(df1)
a = np.around(y_pred)
print(a)
a.astype(int)

[ 0.  0.  1.  0.  0.  1.  1.  0.  1.  1.  0.  1.  0.  0.  1.  1.  1.  0.
  0.  0.  0.  1.  1.  1.  1.  0.  0.  1.  1.  0.  0.  0.  1.  1.  0. -0.
  0.  1.  1.  1.  0.  0.  0.  1.  0.  0.  1.  0.  0.  1.  0.  1.  0.  1.
  0.  1.  1.  0.  1.  1.  1.  0.  0.  1.  0.  1.  1.  1.  0.  0.  1.  0.
  1.  0.  0.  1.  1.  1.  1.  1.  0.  1.  1.  1.  0.  0.  0.  0.  1.  1.
  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  1.  0.  1.  0.  0.  0.  1.  1.
  1.  1.  0.  1.  0.  0.  1.  1.  0.  0.  1.  1.  0.  0.  0.  1.  0.  1.
  0.  1.  1.  0.  1.  1.  1.  1.  1.  0.  1.  1.  0.  0.  1.  1.  1.  1.
  0.  1.  0.  1.  1.  1.  0.  1.  0.  0.  1.  1.  0.  1.  1.  0.  1.  1.
  0.  0.  1.  1.  1.  1.  0.  0.  1.  1.  0.  1.  1.  1.  1.  0.  1.  1.
  0.  0.  0.  0.  0.  0.  1.  0.  0.  1.  0.  1.  1.  1.  1.  1.  1.  0.
  0.  1.  0.  1. -0.  1.  1.  0.  0.  1.  1.  0.  0.  1.  1.  1.  0.  1.
  0.  0.  0.  0.  1.  0.  0.  0.  1.  0.  0.  1.  1.  0.  1.  0.  0.  0.
  1.  1.  1.  0.  1.  0.  1.  0.  1.  1.  0.  1.  1.  1.  1.  0.  0.  0.]

array([0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 0])

### Make prediction and submission file

In [ ]:
x_test = df1

In [ ]:
df_submit = pd.DataFrame([], columns=['Id', 'Treatment'])
df_submit['Id'] = [f'{i:03d}' for i in range(len(x_test))]
df_submit['Treatment'] = a.astype(int)

In [ ]:
df_submit.to_csv('submission.csv', index=None)